<script type="text/javascript">
  var update_tag_list = function( friend_name, tag_id ){
    tag_list = $("tag-list");
    new_tag_li = new Element("li").update(friend_name);
    
    if( typeof(tag_list.firstChild) != "undefined" ){
       tag_list.insertBefore( new_tag_li, tag_list.firstChild  );
    }else{
      tag_list.appendChild(new_tag_li);
    }
  }
</script>

Friends in this photo  
<ul id="tag-list">
  <% asset.tags.each do |tag| %>
    <li id="tag-list-item-<%= tag.id %>" >
      <%= link_to tag.friend.name, friend_path(tag.friend) %>

      <%= link_to_remote( "Delete", { :url => user_user_asset_tag_url(:user_id => current_user.id, :user_asset_id => asset.id, :id => tag.id), 
                                      :method => :delete, 
                                      :html => {:onclick => "$('tag-list-item-"+tag.id.to_s+"').update('<img src=\"/images/spinner.gif\" alt=\"spinner\" /> Deleting...');"}
                               } ) %>
    </li>
  <% end %>
</ul>
