<div class="section">
  <h1>Photos</h1>
  <% if is_owner? %>
    <%= link_to( "Add More", new_asset_path ) %>
  <% end %>
</div>

<div class="clearfix">
<%= pager @user.assets.size %>
</div>

<%= render :partial => "assets/assets_table", :locals => {:assets => @user.assets, :context => :all} %>

<div class="clearfix">
<%= pager @user.assets.size %>
</div>